@media only screen and (max-width: 1070px) {
  .container {
    height: 120vh !important;
    padding: 40px !important;
  }

  .btnContainer {
    flex-direction: column;
    align-items: center;
    height: 50%;
  }

  .middleText {
    font-size: 23px !important;
  }
}

@media only screen and (max-width: 990px) {
  .topText {
    font-size: 50px !important;
  }

  .middleText {
    font-size: 20px !important;
  }

  .bottomText {
    font-size: 17px !important;
  }
}

@media only screen and (max-width: 870px) {
  .topText {
    font-size: 40px !important;
  }

  .middleText {
    font-size: 18px !important;
  }

  .bottomText {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 790px) {
  .topText {
    font-size: 35px !important;
  }

  .middleText {
    font-size: 18px !important;
  }

  .bottomText {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 330px) {
  .container {
    height: 140vh !important;
    padding: 40px !important;
  }
}
