@import "../../styles/variables.module.scss";

.container {
  height: calc(100vh - (16vh + 8px));
}

.link {
  &:hover {
    color: $primary-color;
  }
}

.text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  font-family: "Poppins", sans-serif;
}

.desc {
  font-size: 16px;
}

@media only screen and (max-width: 1075px) {
  .desc {
    font-size: 15px;
  }

  .socials {
    width: 60% !important;
  }
}

@media only screen and (max-width: 900px) {
  .desc {
    font-size: 13px;
  }
}

@media only screen and (max-width: 960px) {
  .link {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    height: 110vh !important;
  }

  .descContainer {
    width: 100% !important;
  }

  .desc {
    font-size: 12px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
  }

  .textContainer {
    width: 100% !important;
    margin-bottom: 10px !important;
  }

  .socials {
    flex-direction: row;
    margin-top: 20px;
  }

  .text {
    font-size: 15px;
  }

  .footerImage {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .text {
    font-size: 12px;
  }

  .descContainer {
    margin-top: -20px !important;
  }

  .desc {
    padding-top: -60px !important;
    font-size: 13px !important;
  }
}
